body {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif, serif;
  justify-content: center;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
}

.ligo-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
header,
footer {
  background-color: #1f2937;
  width: 100%;
}
h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -6px;
}
.first-btn {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: -10px;
  padding: 16px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  margin-left: -25px;
}

p,
a {
  color: #e5e7eb;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}
li {
  list-style-type: none;
}

h2 {
  color: #1f2937;
  font-size: 36px;
}

.main-title {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.title-content {
  align-items: flex-start;
  background-color: #1f2937;
  border-radius: 10px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 300px;
  justify-content: center;
  width: 400px;
}

.sec-one {
  text-align: center;
}

.random-info {
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 10px;
  height: 150px;
  margin-left: 52px;
  width: 150px;
}

.info {
  max-width: 225px;
}

.img-para {
  color: #1f2937;
  margin-left: 52px;
  max-width: 150px;
}

.sec-two {
  align-items: center;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sec-two-heading {
  font-size: 36px;
  font-style: oblique;
  font-weight: 700;
  margin-bottom: -70px;
}

figure {
  align-items: flex-end;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
  justify-content: flex-end;
  max-width: 65%;
  padding: 24px;
}
figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-right: 70px;
  margin-top: -25px;
  text-align: end;
}
.sec-three {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 240px;
  justify-content: center;
  width: 100%;
}
.call-btn {
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  height: 135px;
  justify-content: space-around;
  margin: 36px;
  margin-left: 48px;
  width: 70%;
}

.call-heading {
  color: #e5e7eb;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  margin-bottom: -10px;
  margin-left: -75px;
  text-align: center;
}

.call-para {
  margin-left: 120px;
}

.btn-input {
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: -5px;
  padding: 10px;
}

footer {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: -75px;
  width: 100%;
}
